:root {
    --ca-blue: #5EBBEC;
    --ca-yellow: #FEEB15;
    --ca-orange: #ED6D1A;
    --ca-olive-bg: #8A9127;
    --ca-dark-olive-bg: #5A5E1A;
    --ca-dark-blue-bg: #0A3D5B;
}

@font-face {
    font-family: 'ADayWithoutSun';
    src: url('/fonts/a-day-without-sun.woff2') format('woff2');
    font-weight: normal;
}

body {
    font-family: 'ADayWithoutSun', sans-serif;
    margin: 0;
}
